html{
  min-height: 100%;
}

body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}

form{
  padding: 20px;
  margin-top: 60px;
}

nav .navbar-text{
  color:  white;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly])
{
  border-color: #f44336;
  box-shadow: none;
}


#card-separator{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

#titulo::first-letter,
#pokeListName::first-letter{
  font-size: 2rem;
  text-transform: uppercase;
}

#Type{
  font-size: 1rem;
  font-weight: bold;
}

#titulo{
  font-weight: bold;
}

#span-type{
  margin-right: 6rem
}

#pokeImg{
	max-width: 90%;
  width: 40%;
  margin-left: 2rem;
}

#logo{
  font-size: 3rem;
  color: #fcba03;
  text-shadow: 2px 0 0 rgb(23, 152, 212), -2px 0 0 rgb(23, 152, 212), 0 2px 0 rgb(23, 152, 212), 0 -2px 0 rgb(23, 152, 212), 1px 1px rgb(23, 152, 212), -1px -1px 0 rgb(23, 152, 212), 1px -1px 0 rgb(23, 152, 212), -1px 1px 0 rgb(23, 152, 212);
}


